* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  width: 625px;
  height: 360px;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  width: 300px;
}

textarea {
  color: #bdc1c6;
  background-color: transparent;
  border: none;
  resize: none;
  padding: 18px;
  height: 200px;
  border-radius: 10px;
  outline: none;
  overflow: auto;
  font-size: 28px;
  margin-top: 10px;

}

.output textarea {
  background-color: #303134;
}

input {
  border: 1px solid #818588;
  border-radius: 8px;
  box-sizing: border-box;
  color: #bdc1c6;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  width: 100%;
}

.select-drop-down input {
  padding: 5px 15px;
  color: #8ab4f8;
  font-size: 15px;
}

.select-drop-down .drop-down-icon {
  position: relative;
  left: 250px;
  top: -33px;
  width: 26px;
  height: 26px;
  fill: #8ab4f8;
}

.arrow-container {
  padding: 8px 15px;

}

.arrow-container .arrow-Icon {
  width: 26px;
  height: 26px;
  fill: #5a5a5d;
  cursor: pointer;
}

.option-list {
  width: 100%;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}


.search-bar input {
  background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png) right 8px center no-repeat;
  background-size: 24px 24px;
  padding-left: 16px;
  padding-right: 40px;
  width: 90% !important;
  outline: none;
}

.search-bar .close-button .close-icon {
  width: 30px;
  height: 30px;
  padding: 6px;
  fill: #5a5a5d;
  cursor: pointer;
}
.check{
  font-size: 20px !important;
}
.option-container {
  height: 250px;
}

.option-list ul {
  margin: 15px;
  padding: 0;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.option-list li {
  color: #bdc1c6;
  font-size: 14px;
  padding: 8px;
  list-style-type: none;
  border-radius: 4px;
  cursor: default;
}

.option-list li:hover {
  background-color: #5a5a5d;
}


.list-item {
  display: flex;
}

.list-item .icon {
  padding: 8px;
  width: 11px;
  color: #8ab4f8;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdc1c6;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  height: 20px;
}

.select-drop-down input {
  color: #8ab4f8;
  padding: 5px 15px;
  font-size: 15px;
}


 .delete {
  position: relative;
  left: 265px;
  top: -215px;
  font-size: 20px;
  width: 20px;
  cursor: pointer;
  color: #bdc1c6;
}


::-webkit-scrollbar{
  display: none;
}